@tailwind base;
@tailwind components;
@tailwind utilities;

.ssy {
  color: #ffd20e;
}


.sas {

  background-color: #4169e1;
  color: black;
  font-weight: bold;

}


.soe {
  background-color: #ffd20e;
  color: black;
  font-weight: bold;

}